body {
}
h2 {
    font-weight: normal;
    text-align: center;
}

.DatosPrestaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.PosicionPrestaciones {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    width: 80%;
}

    .PosicionPrestaciones label {
        width: 150px;
        text-align: right;
        margin-right: 20px;
    }

    .PosicionPrestaciones input[type="text"],
    .PosicionPrestaciones select{
        width: 100%;
        padding: 8px;
    }

#cmdEnviar {
    margin-top: 20px;
    padding: 10px 20px;
    align-self: center;
}