html {

    box-sizing: border-box;
    
    }
    
    *, *:before, *:after {
    
    box-sizing: inherit;
    
    }
    *{
        margin: 3px;
        padding-block: 3px;
        border-radius: 10px;
    }
    body{
        height: 500px;
    }
    main {
        display: flex;
        height: 350px;
        background-color: #3993DD;
        width: 70%;
        flex-direction: column;
        float: left;
    }
    
    article:nth-child(1) {
        height: calc(100% - 30%);
    }
    
    article:nth-child(2) {
        height: calc(100% - 70%);
    }
    
    header {
        background-color: #DF5C53;
        height: 60px;
        width: 100%;
    }
    
    nav {
        text-align: left;
        background-color: #EAFA73;
        width: 28%;
        float: right;
        height: 50px;
    }
    
    article {
        background-color: #44CF6C;
    }
    
    section {
        background-color: #A9FDAC;
        height: calc(33% - 20px);
    }
    
    footer {
        background-color: #E0ACD5;
        clear: both;
    }
    
    footer:nth-of-type(1) {
        background-color: #E0ACD5;
        height: 40px;
    }
    
    footer:nth-of-type(2) {
        background-color: #E0ACD5;
        height: 60px;
        width: 100%;
    }
    
    aside {
        background-color: #13B6C5;
        width: 28%;
        float: right;
        height: 300px;
    }
    