footer{
    background-color: black;
    display: flex;
    justify-content: center;
    color: var(--color3);
    span{
        display: flex;
        align-self: center;
    }
    img{
        display: flex;
    }

}