body {
}
h1{
    text-align: center;
    margin-bottom: 5px;
}
.Buttons-total {
    text-align: center;
}
.label {
    text-align: center;
    margin-top: 0px;
    display: block;
    font-size: 20px
}
.button{
    padding: 10px
}
